
@model SistemaInventarioV6.Modelos.Bodega
@{
    Layout = null;
    string titulo = Model.Id != 0? "Actualizar Bodega" : "Crear Bodega";
}    

<form method="post" asp-action="Upsert">
<div asp-validation-summary="ModelOnly" class="text-danger"></div>
<div class="card-body">                
    <div class="col-md-4 col-sm-12 row">
        <div class="form-group row">
            <label asp-for="Nombre"></label>
            <input asp-for="Nombre" class="form-control">
            <span asp-validation-for="Nombre" class="text-danger"></span>
        </div>
    </div>
    <div class="col-md-4 col-sm-12 row">
        <div class="form-group row">
            <label asp-for="Descripcion"></label>
            <input asp-for="Descripcion" class="form-control">
            <span asp-validation-for="Descripcion" class="text-danger"></span>
        </div>
    </div>
    <div class="col-md-4 col-sm-12 row">
        <div class="form-group row">
            <label asp-for="Estado"></label>
            <select asp-for="Estado" class="form-control">
                <option value=true>Activo</option>
                <option value=false>Inactivo</option>
            </select>
            <span asp-validation-for="Estado" class="text-danger"></span>
        </div>
    </div>
</div>
<!-- /.card-body -->
<div id="ventana_modal_footer" class="modal-footer">
    @if (Model.Id != 0)
    {
        <partial name="_BotonesActualizarRegresar" model="Model.Id"></partial>
    } else {
        <partial name="_BotonesCrearRegresar"></partial>
    }
</div>
</form>
            

@{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
