    
<div class="content-header row">
        <div class="container-fluid">
            <div class="row mb-2">
                <div class="col-sm-6">
                    <h1 class="m-0">Listado de Productos</h1>
                </div><!-- /.col -->
                <div class="col-sm-6">
                    <ol class="breadcrumb float-sm-right">                        
                        <li class="breadcrumb-item active">
                            <a asp-action="Upsert" class="btn btn-primary"><i class="fas fa-plus"></i> Agregar</a>
                        </li>
                    </ol>
                </div><!-- /.col -->
            </div><!-- /.row -->
        </div><!-- /.container-fluid -->
    </div>
    <!-- /.content-header -->

    <div class="p-4 border rounded" style="width:100%;">
        <table id="tblDatos" class="table table-responsive- table-hover text-nowrap" style="width:100%">
            <thead class="bg-gradient-gray-dark text-white">
                <tr>
                    <th>Descripción</th>
                    <th>Numero de serie</th>
                    <th>Categoria</th>
                    <th>Marca</th>
                    <th>Precio</th>
                    <th></th>
                </tr>
            </thead>
            <tbody class="bg-white"></tbody>
        </table>
    </div>


@section Scripts{
    <script src="~/js/producto.js"></script>
}