@model int
<div class="row">
    <button type="submit" class="btn btn-primary mr-lg-2" asp-route-id="@Model"><i class="fas fa-save"></i> Actualizar</button>
    <a asp-action="Index" type="button" class="btn btn-success"><i class="fas fa-arrow-circle-left"></i> Regresar</a>
</div>
